/* index? */
:nth-of-type(1){
    --index: 0;
}
:nth-of-type(2){
    --index: 1;
}
:nth-of-type(3){
    --index: 2;
}
:nth-of-type(4){
    /* --index: 3; */
}
:nth-of-type(5){
    --index: 4;
}
:nth-of-type(6){
    --index: 5;
}
:nth-of-type(7) {
    --index: 6;
}

form:nth-child(2) > div:nth-of-type(1){
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
h1 {
    --color-text: rgb(216, 216, 216);
    margin: 0;
    font-size: 2.2em;
    text-transform: uppercase;
    font-variant-numeric: tabular-nums;
    color: var(--color-text);

}
h1 span{
    mix-blend-mode: exclusion;
    --animation-speed-font: 7s;
    animation: scale-up-down var(--animation-speed-font) linear infinite;
    animation-delay: calc(var(--index) * 1s - (var(--animation-speed-font)));
}



@keyframes scale-up-down {
    0% {
        text-shadow: 0px 0 0 var(--color-text);
    }
    30% {
        text-shadow: 4px 0 0 var(--color-text);
    }
    40% {
        text-shadow: 2px 0 0 var(--color-text);
    }
    50% {
        text-shadow: 0px 0 0 var(--color-text);
    }
    100%{
        text-shadow: 0px 0 0 var(--color-text);
    }
}
