main > div:first-child {
    transition: 2s
}
html:has(main > div:last-child form label:nth-child(1) div:nth-child(3):active):has(main > div:last-child form label:nth-child(1) button:nth-child(1):hover) {
    & main > div:first-child {
        transform: translateY(-100px);
    }
    & main form:nth-child(2) {
        transform: translateX(-10%) translateY(2%);
    }
    & main > div:last-child form label:nth-child(1) div:nth-child(3) {
        transform: translateY(-50px);
    }
}

html:has(main > div:last-child form label:nth-child(1) div:nth-child(3):active):has(main > div:last-child form label:nth-child(1) button:nth-child(2):hover) {
    & main > div:first-child {
        transform: translateX(100px);
    }
    & main form:nth-child(2) {
        transform: translateX(-10%) rotate(-3deg);
    }
    & main > div:last-child form label:nth-child(1) div:nth-child(3) {
        transform: translateX(-50px);
    }
}

html:has(main > div:last-child form label:nth-child(1) div:nth-child(3):active):has(main > div:last-child form label:nth-child(1) button:nth-child(4):hover) {
    & main > div:first-child {
        transform: translateX(-100px);
    }
    & main form:nth-child(2) {
        transform: translateX(-10%) rotate(3deg);
    }
    & main > div:last-child form label:nth-child(1) div:nth-child(3) {
        transform: translateX(50px);
    }
}

html:has(main > div:last-child form label:nth-child(1) div:nth-child(3):active):has(main > div:last-child form label:nth-child(1) button:nth-child(5):hover) {
    & main > div:first-child {
        transform: translateY(100px);
    }
    & main form:nth-child(2) {
        transform: translateX(-10%) translateY(-2%);
    }
    & main > div:last-child form label:nth-child(1) div:nth-child(3) {
        transform: translateY(50px);
    }
}