main > div:first-child {
    transition: 2s
}
html:has(main > div:last-child form label:nth-child(1) button:nth-child(1):active) main > div:first-child  {
    transform: translateY(-100px);
}
html:has(main > div:last-child form label:nth-child(1) button:nth-child(1):active) main form:nth-child(2) {
    transform: translateX(-10%) translateY(2%);
}
html:has(main > div:last-child form label:nth-child(1) button:nth-child(2):active) main > div:first-child{
    transform: translateX(100px);
}
html:has(main > div:last-child form label:nth-child(1) button:nth-child(2):active) main form:nth-child(2) {
    transform: translateX(-10%) rotate(-3deg);
}
html:has(main > div:last-child form label:nth-child(1) button:nth-child(3):active) main > div:first-child {
    transform: translateX(-100px);
}
html:has(main > div:last-child form label:nth-child(1) button:nth-child(3):active) main form:nth-child(2) {
    transform: translateX(-10%) rotate(3deg);
}
html:has(main > div:last-child form label:nth-child(1) button:nth-child(4):active) main > div:first-child {
    transform: translateY(100px);
}
html:has(main > div:last-child form label:nth-child(1) button:nth-child(4):active) main form:nth-child(2) {
    transform: translateX(-10%) translateY(-2%);
}