:root {
    --standard-animation-speed: 20s;
    --animation-delay: 1s;
    --speed: 5s;
}

body {
    background-color: black;
}
body,
main {
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}
section,
form {
    background-color: rgba(43, 43, 43, 0.7);
    height: 100%;
}

/* visually hidden */
main > div:last-child form label:nth-child(2) span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 5fr 2fr 2fr;
}

main > div:last-child {
    grid-row: 3/4;
    grid-column: 1/4;
    position: relative;
    perspective: 100px;
    z-index: 11;
    display: flex;
    justify-content: center;
    width: 100%;
}
main > div:last-child form {
    width: 85%;
    height: 108%;
    position: absolute;
    background: rgba(33,33,33,0.2) ;
    transform-style: preserve-3d;
    transform: rotateX(10deg) translateY(-14%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-radius: 50% 50% 0 0;
}
main > div:last-child form label {
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin: auto;
}
main > div:last-child form label:nth-child(1) {
    position: relative;
    grid-column: 2/3;
    width: 5em;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: 100ms;
}

main > div:last-child form label:nth-child(1) button {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 1.4em;
    padding: 0;
    opacity: 0;
}
main > div:last-child form label:nth-child(1) button:nth-child(1){
    grid-area: 1/2;
    rotate: -90deg;
}
main > div:last-child form label:nth-child(1) button:nth-child(2){
    grid-area: 2/1;
    rotate: 180deg;
}

/* Joystick */
main > div:last-child form label:nth-child(1) div:nth-child(3) {
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    grid-area: 2/2;
    transition: 200ms;
    /* pointer-events: auto; */
}
main > div:last-child form label:nth-child(1) div:nth-child(3):active {

}

main > div:last-child form label:nth-child(1) button:nth-child(4){
    grid-area: 2/3;
}
main > div:last-child form label:nth-child(1) button:nth-child(5){
    grid-area: 3/2;
    rotate: 90deg;
}
main > div:last-child form label:nth-child(1):has(button:nth-child(1):active) {
    transform: perspective(20em) rotateX(4deg);
}
main > div:last-child form label:nth-child(1):has(button:nth-child(2):active) {
    transform: perspective(20em) rotateY(-4deg);
}
main > div:last-child form label:nth-child(1):has(button:nth-child(4):active) {
    transform: perspective(20em) rotateY(4deg);
}
main > div:last-child form label:nth-child(1):has(button:nth-child(5):active) {
    transform: perspective(20em) rotateX(-4deg);
}
main > div:last-child form label div {
    display: grid;
    place-items: center;
    z-index: -1;
}
main > div:last-child form label div input {
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
}
main > div:last-child form label div input:hover {
    z-index: 0;
}
main > div:last-child form label:first-child input:nth-child(2) {
    transform: rotate(0deg);
}