@layer base {
    body {
        background-color: black;
        font-family: "Gugi", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    body,
    main {
        height: 100vh;
        margin: 0;
        position: relative;
        overflow: hidden;
    }

    section,
    form {
        background-color: rgba(43, 43, 43, 0.7);
        height: 100%;
    }
}

@layer classVH {
    /* visually hidden */
    main > div:last-child form label:nth-child(2) span {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

@layer layout {
    main {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 5fr 240px 240px;
    }

    main > div:last-child {
        grid-row: 3/4;
        grid-column: 1/4;
        position: relative;
        perspective: 100px;
        z-index: 11;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    main > div:last-child form {
        width: 85%;
        height: 108%;
        position: absolute;
        background: rgba(33,33,33,0.2) ;
        transform-style: preserve-3d;
        transform: rotateX(10deg) translateY(-14%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        border-radius: 20% 20% 0 0;
    }
    main > div:last-child form label {
        display: grid;
        place-items: center;
        color: rgb(255, 255, 255);
        font-size: 2em;
        margin: auto;
    }
    main > div:last-child form label div {
        display: grid;
        place-items: center;
        z-index: -1;
    }
}