:root {
    --standard-animation-speed: 20s;
    --animation-delay: 1s;
}

/* omgeving */
main > div:nth-child(2) {
    grid-row: 1/3;
    grid-column: 1/4;
    text-align: center;
    /* transform: translateX(-100px); */
    /* when hovering on the dashbord */
}

main > div > div > div > div {
    background: url("../images/sterren.jpg");
    background-size: cover;
}

main > div:nth-child(2):before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

main > div > div {
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;
}

main > div > div > div {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    transform-style: preserve-3d;
    animation: move calc(var(--standard-animation-speed) + (var(--speed) * 2)) infinite linear;
    /* animation: move 25s infinite linear; */
    animation-fill-mode: forwards;
}

main > div > div > div:nth-child(2) {
    /* animation: move 20s infinite linear; */
    animation: move calc(var(--standard-animation-speed) + (var(--speed) * 2)) infinite linear;
    /* animation: move 25s infinite linear; */
    animation-delay: var( --animation-delay);
}

main > div > div > div > div {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    /* animation: fade 25s infinite linear; */
    animation: fade calc(var(--standard-animation-speed) + (var(--speed) * 2)) infinite linear;
    animation-delay: 0;
}

main > div > div > div:nth-child(2) > div {
    animation-delay: var( --animation-delay);
}

main > div > div > div:nth-child(2) > div:first-child {
    transform: rotateY(90deg) translateZ(500px);
}

main > div > div > div:nth-child(2) > div:nth-child(2) {
    transform: rotateY(-90deg) translateZ(500px);
}

main > div > div > div:nth-child(2) > div:nth-child(3) {
    transform: rotateX(90deg) translateZ(500px);
}

main > div > div > div:nth-child(2) > div:nth-child(4) {
    transform: rotateX(-90deg) translateZ(500px);
}

main > div > div > div:nth-child(2) > div:nth-child(5) {
    transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
    0% {
        transform: translateZ(-500px) rotate(0deg);
    }
    100% {
        transform: translateZ(500px) rotate(0deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* https://codepen.io/noahblon/pen/DpNRyR */

@media (min-width: 80em) {
    main > div:nth-child(2) {
        grid-column: 1/6;
    }
}
